body {
    font-family: sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

h1 {
    margin: 0;
    color: rgb(100, 29, 170);
}

h2 {
    margin-top: 0;
    color: rgb(100, 29, 170);
}

button {
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(100, 29, 170);
    margin: 4px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

h1,h2,button::selection {
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}